#app {
  display: grid;
  height: 1000px;
  grid-template-columns: 15% 60% 25%;
  grid-template-rows: 20% 30% 30% 20%;
  /* The below property isn't doing anything unless the */
  /* `grid-area` properties are used in the section rules below */
  grid-template-areas:
    "hdr hdr hdr"
    "nav ar1 ads"
    "nav ar2 ads"
    "ftr ftr ftr";
  font-size: 5em;
  text-align: center;
}

#header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  /* or, instead of the above two lines */
  /* we could use grid areas:  */
  /* grid-area: hdr; */
  background-color: #f3ca40;
}

#nav {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  /* or, instead of the above two lines */
  /* we could use grid areas:  */
  /* grid-area: nav; */
  background-color: #4b4e6d;
}

#article-1 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  /* or, instead of the above two lines */
  /* we could use grid areas:  */
  /* grid-area: ar1; */
  background-color: #6a8d92;
}

#article-2 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  /* or, instead of the above two lines */
  /* we could use grid areas:  */
  /* grid-area: ar2; */
  background-color: cornflowerblue;
}

#ads {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
  /* or, instead of the above two lines */
  /* we could use grid areas:  */
  /* grid-area: ads; */
  background-color: #f2a541;
}

#footer {
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  /* or, instead of the above two lines */
  /* we could use grid areas:  */
  /* grid-area: ftr; */
  background-color: #f08a4b;
}
